.nyot{
    width: 95%;
    margin-left: 10px;
   
}

.tot{
    width: 45%;
    margin-left: 1002%;
    margin-top: -259px;
}

.fab{
    margin-top: 730px;
}

.gtt{
  width: 90%;
  margin-left: 20px;
  margin-top: 20px;
}